$title: #191919;
$menu: #436372;
$accent: #a3bbc8;
$cart-title: #243f4d;
$bg: #fef7f0;
$footer-title: #1f2044;
$footer-text: #7b7b7b;    
$filter: #8b8b8b;
$blog: #262626;
$bg-top: #edf1f4;

%rubik-300 {
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}
      
%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%dms-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dms-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dms-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%poppins-600 {
  font-family: 'Poppins-ExtraBold', sans-serif;
  font-weight: 600;
}

%poppins-700 {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

%btn {
  border: none;
  color: #fff;
  background-color: $accent;
  cursor: pointer;
}

%filter {
  background-color: transparent;
  border: none;
  padding: 0;
  @extend %dms-700;
  font-size: 16px;
  color: $filter;
  cursor: pointer;
}

%link {
  color: #fff; 
  @extend %rubik-500;
  font-size: 15px;
  line-height: 0.8;
  background-color: $accent;
  padding: 22px 100px 22px 26px;
  position: relative;
  &::before {
    content: '';
    background-image: url('../images/slider/arrow-right.svg');
    position: absolute;
    width: 22px;
    height: 9px;
    right: 19px;
    top: 50%;
    transform: translateY(-50%);
  }
}

%a {
  @extend %rubik-400;
  color: $footer-text;
  font-size: 14px;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}