$title: #191919;
$menu: #436372;
$button: #a3bbc8;
$cart-title: #243f4d;

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%dms-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%dms-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%dms-700 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}